@import "../../scss//Helper/mixin";
@import "../../scss/Helper/variable";
.taikhoan-right__content {
    width: 500px;
    margin: auto;
    .form-group {
        p {
            text-align: left;
            color: #333333;
            font-weight: 500;
            font-size: 18px;
        }
    }
    p {
        color: #238BAA;
    }
}

.taikhoan-right__title {
    h3 {
        font-size: 25px !important;
        text-transform: uppercase;
    }
    // color: #d4b032;
    p {
        padding: 0 50px;
        font-size: 14px !important;
    }
}

.password {
    position: relative;
    .show-pass {
        cursor: pointer;
        color: #333;
        position: absolute;
        top: 45%;
        right: 20px;
        transition: all 0.3s;
        font-size: 20px;
        &:hover {
            color: #d4b032;
        }
    }
}

.form-group {
    height: 95px;
    margin-bottom: 0px !important;
    .p-title {
        @include Mediaquery($xs) {
            font-size: 12px !important;
        }
    }
    .p-title {
        font-size: 14px !important;
    }
    // height: 117px !important;
    position: relative;
    .errMessage {
        color: red;
        margin-top: 10px;
        font-size: 14px;
        text-align: start;
    }
    .errInput {
        position: absolute;
        top: 50%;
        right: 1%;
        font-size: 14px;
        color: red;
    }
    .btn-signup {
        margin-left: 5%;
        width: 90%;
        padding: 10px 0;
        text-transform: uppercase;
        color: white;
        font-weight: 500;
    }
    .form-control {
        height: 40px;
        &::placeholder {
            font-size: 13px;
            color: #b3b3b3;
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
        &:hover {
            border: 1px solid #d4b032;
        }
    }
}

.button-changepassword {
    background-color: #d4b032;
    padding: 10px 15px;
    border: 1px solid white;
    color: white;
    &:focus {
        border: none;
        outline: none;
    }
}