    // .form-group {
    //     // height: 117px !important;
    //     position: relative;
    //     .errMessage {
    //         color: red;
    //         margin-top: 10px;
    //         font-size: 14px;
    //     }
    //     .errInput {
    //         position: absolute;
    //         top: 45%;
    //         right: 5%;
    //         font-size: 14px;
    //         color: red;
    //     }
    //     .btn-themKhoaHoc {
    //         padding: 10px 30px;
    //         color: white;
    //         background-color: #FFC107;
    //         margin-top: 35px;
    //         text-transform: uppercase;
    //         font-weight: 500;
    //         border: 1px solid #fff;
    //         transition: all 0.2s;
    //         &:hover {
    //             background-color: #cf9d06;
    //         }
    //     }
    //     span {
    //         color: #ced4da;
    //     }
    // }