.section-footer {
    background-color: #151515;
    .footer-content {
        width: 90%;
        margin: auto;
        padding: 100px 0;
        h3 {
            position: relative;
            padding-bottom: 30px;
            font-size: 20px;
            color: #fcfcfc;
            margin-bottom: 50px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.13);
            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                content: "";
                width: 40px;
                height: 2px;
                background-color: #F15224;
            }
        }
        p {
            i {
                font-size: 18px;
            }
            color: #969696;
            font-size: 15px;
            line-height: 30px;
            margin-bottom: 0;
        }
        input {
            width: 100%;
            padding: 5px 5px;
            border-radius: 4px;
            &:focus {
                outline: none;
            }
        }
        textarea {
            padding: 5px 5px;
            &:focus {
                outline: none;
            }
        }
        button {
            width: 100%;
            padding: 10px 0;
            background-color: #00BB5C;
            border-radius: 4px;
            color: white;
            border: none;
        }
    }
}