.section-footer {
    background-color: #222121;
    // display: none;
    .footer-content {
        @include Mediaquery($xs) {
            padding: 20px 0;
        }
        .footer-end {
            @include Mediaquery($xs) {
                display: none;
            }
            .app-store {
                display: flex;
                i {
                    font-size: 35px;
                    // color: white;
                    color: #eeee;
                }
                span {
                    font-size: 10px;
                    color: #969696;
                }
            }
        }
        width: 100%;
        margin: auto;
        padding: 60px 0;
        h3 {
            position: relative;
            padding-bottom: 10px;
            font-size: 16px !important;
            color: #fcfcfc;
            margin-bottom: 10px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.13);
            @include Mediaquery($xs) {
                font-size: 18px !important;
                margin-bottom: 10px;
                padding-bottom: 10px;
                border: none;
                text-align: center;
            }
            &::after {
                position: absolute;
                bottom: 0;
                left: 0;
                content: "";
                width: 40px;
                height: 2px;
                background-color: #F15224;
                @include Mediaquery($xs) {
                    display: none;
                }
            }
        }
        .form-control {
            width: 90%;
            padding: 10px 5px;
            border-radius: 4px;
            height: 40px;
            &:focus {
                outline: none;
            }
        }
        p {
            i {
                font-size: 18px;
                @include Mediaquery($xs) {
                    font-size: 12px;
                }
            }
            color: #969696;
            font-size: 12px;
            @include Mediaquery($xs) {
                font-size: 12px;
                text-align: center;
            }
            line-height: 30px;
            margin-bottom: 0;
        }
        button {
            width: 90%;
            padding: 10px 0;
            background-color: #F15224;
            border-radius: 4px;
            color: white;
            border: none;
        }
    }
    .footer-bottom {
        @include Mediaquery($sm) {
            display: none;
        }
        height: 60px;
        background-color: 222121;
        width: 100%;
        border-top: 1px solid #eee;
        align-items: center;
        display: flex;
        justify-content: space-between;
        &__nav {
            display: flex;
            &__logo {
                width: 140px;
                // border-right: 1px solid #969696;
                img {
                    width: 120px;
                }
            }
            ul {
                display: flex;
                align-items: center;
                li {
                    // display: inline-block;
                    list-style: none;
                    color: #969696;
                    padding: 5px 15px;
                    transition: all 0.2s;
                    cursor: pointer;
                    &:hover {
                        color: #F15224;
                    }
                }
                .li-1 {
                    border-left: 0.5px solid #969696;
                }
            }
        }
    }
    .copy-right {
        height: 60px;
        width: 100%;
        background-color: #151515;
        p {
            line-height: 60px;
            color: #969696;
        }
    }
}