.section-header {
    width: 100%;
    position: fixed;
    font-size: $fs-6;
    // border-bottom: 1px solid $colorGrey-Light;
    height: 90px;
    z-index: 9999;
    transition: all 0.15s ease;
    &.scroll {
        background-color: rgba(26, 25, 25, 0.952);
    }
    .navbar--custom {
        .navbar-brand {
            img {
                width: 200px;
            }
        }
        .navbar-collapse {
            .signin-signup {
                .name-user {
                    display: flex;
                    justify-content: space-around;
                    color: white;
                    .name {
                        display: flex;
                        .avatar {
                            width: 35px;
                            height: 35px;
                            background-color: #fff;
                            border-radius: 50%;
                            img {
                                width: 30px;
                                height: 30px;
                            }
                        }
                        i {
                            font-size: 18px;
                        }
                        a {
                            margin-top: 8px;
                            height: 20px;
                            padding: 0 20px;
                            // padding: 1px 10px;
                            border-right: 1px solid white;
                            line-height: 20px;
                        }
                        line-height: 30px;
                    }
                    .notification {
                        font-size: 20px;
                        cursor: pointer;
                        margin-top: 3px;
                    }
                    .logout-setting {
                        cursor: pointer;
                        font-size: 24px;
                        position: relative;
                        // margin-top: 3px;
                        .logout {
                            border: 1px solid hsla(0, 0%, 39.2%, .4);
                            background-color: #fff;
                            box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
                            width: 180px;
                            color: #1d2129;
                            position: absolute;
                            top: 120%;
                            right: -90%;
                            ul {
                                margin-bottom: 0;
                                li {
                                    padding: 5px 0;
                                    list-style: none;
                                    font-size: 14px;
                                    border-bottom: 1px solid #ebebeb;
                                    &:hover {
                                        background-color: #ebebeb;
                                    }
                                }
                            }
                        }
                    }
                }
                width: 20%;
                display: flex !important;
                justify-content: space-around !important;
                .signin {
                    a {
                        cursor: pointer;
                        @include Text($fs-5, $colorWhite, $fw-4);
                        text-decoration: none;
                        padding: 5px 20px;
                        border-right: 1px solid $colorWhite;
                    }
                }
                .signup {
                    a {
                        cursor: pointer;
                        // padding: 5px 20px;
                        @include Text($fs-5, $colorWhite, $fw-4);
                        text-decoration: none;
                    }
                }
            }
            .navbar-nav {
                .nav-item--search {
                    position: relative;
                    padding-right: 40px !important;
                    // overflow: hidden;
                    &:hover {
                        i {
                            background-color: #F05123;
                        }
                    }
                    a {
                        i {
                            text-align: center;
                            color: #fff;
                            // width: 40px;
                            position: absolute;
                            top: 4%;
                            right: 0%;
                            width: 45px;
                            height: 37px;
                            line-height: 40px;
                            border-radius: 2px;
                            z-index: 10;
                            // animation: search 1s infinite;
                            // @keyframes search {
                            //     0% {
                            //         top: 4%;
                            //     }
                            //     25% {
                            //         top: -400%;
                            //     }
                            //     50% {
                            //         top: -50%;
                            //     }
                            //     100% {
                            //         top: 4%;
                            //     }
                            // }
                        }
                    }
                    .search__word {
                        width: 400px;
                        height: 40px;
                        position: absolute;
                        bottom: -100%;
                        right: 0;
                        background-color: #F05123;
                        border-radius: 2px;
                        input {
                            background-color: #fff;
                            color: #acacac;
                            margin-top: 5px;
                            margin-left: 5px;
                            padding-left: 10px;
                            width: 350px;
                            height: 30px;
                            border-radius: 2px;
                            border: 1px solid #fff;
                            &:focus {
                                outline: none;
                            }
                            &::placeholder {
                                padding-left: 5px;
                            }
                        }
                    }
                }
                .nav-item {
                    position: relative;
                    transition: all 0.5s;
                    cursor: pointer;
                    padding: 0px 15px;
                    .nav-link {
                        @include Text($fs-5, $colorWhite, $fw-4);
                        letter-spacing: 1px;
                        display: inline-block;
                    }
                    &.active::after {
                        width: 100%;
                    }
                    &:hover::after {
                        width: 100%;
                    }
                }
                .line::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    height: 5px;
                    background: linear-gradient(to right, #2b0e06, #F05123);
                    transition: all 0.5s;
                }
                .nav-item--custom {
                    cursor: pointer;
                    position: relative;
                    &:hover {
                        .category {
                            display: block;
                        }
                    }
                    .category {
                        display: none;
                        width: 280px !important;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        border: 1px solid hsla(0, 0%, 39.2%, .4);
                        background-color: #fff;
                        box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
                        width: 180px;
                        ul {
                            width: 240px !important;
                            margin: auto;
                            margin-bottom: 0;
                            li {
                                cursor: pointer;
                                padding: 10px 0;
                                list-style: none;
                                font-size: 14px;
                                border-bottom: 1px solid #ebebeb;
                                &:hover {
                                    background-color: #ebebeb;
                                    a {
                                        color: #F05123;
                                    }
                                }
                                a {
                                    @include Text($fs-6, #1d2129, $fw-4);
                                }
                                &:active {
                                    a {
                                        color: #F05123;
                                    }
                                }
                            }
                        }
                    }
                    // .nav-link {
                    //     color: red;
                    // }
                }
                // display: flex;
                // justify-content: space-between !important;
                // .nav-item:nth-child(1) {
                //     position: relative;
                //     &:hover {
                //         // .category {
                //         //     display: block;
                //         // }
                //         transition: all 1s;
                //         .nav-link {
                //             color: $colorYellow;
                //         }
                //     }
                //     padding: 0 10px;
                //     .nav-link {
                //         color: $colorGrey;
                //         border-radius: 4px;
                //         border: 1px solid rgb(189, 184, 184);
                //         box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255), 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
                //     }
                //     .category {
                //         z-index: 999;
                //         display: block;
                //         position: absolute;
                //         width: 100%;
                //         left: 0;
                //         top: 120%;
                //         // display: none;
                //         ul {
                //             position: relative;
                //             &::before {
                //                 position: absolute;
                //                 left: 40%;
                //                 top: -18px;
                //                 content: "";
                //                 width: 0;
                //                 height: 0;
                //                 border-top: 9px solid transparent !important;
                //                 border-left: 9px solid transparent !important;
                //                 border-right: 9px solid transparent !important;
                //                 border-bottom: 9px solid rgba(189, 186, 186, 0.945) !important;
                //             }
                //             width: 100%;
                //             background-color: rgba(141, 141, 141, 0.945);
                //             border-radius: 4px;
                //             li {
                //                 cursor: pointer;
                //                 list-style: none;
                //                 padding: 5px 0;
                //                 &:hover {
                //                     background-color: $colorYellow;
                //                     a {
                //                         color: $colorWhite;
                //                     }
                //                 }
                //                 a {
                //                     text-decoration: none;
                //                     @include Text($fs-6, $colorYellow, $fw-3);
                //                     padding: 0 30px;
                //                 }
                //             }
                //         }
                //     }
                // }
                // .nav-item:nth-child(2) {
                //     position: relative;
                //     height: 40px;
                //     .form-inline {
                //         width: 400px !important;
                //         position: relative;
                //         border: 1px solid rgb(189, 184, 184);
                //         border-radius: 4px;
                //         height: 100%;
                //         .btn--form {
                //             position: absolute;
                //             top: 0;
                //             right: 0;
                //             &:focus {
                //                 box-shadow: none;
                //                 outline: none;
                //             }
                //             width: 20%;
                //             @include Button($colorYellow, $colorWhite, $fs-6, 10px 10px, none);
                //             border-top-right-radius:4px;
                //             border-bottom-right-radius: 4px;
                //             height: 38px;
                //             i {
                //                 font-size: 12px;
                //             }
                //         }
                //         .form-control {
                //             &::placeholder {
                //                 font-size: $fs-6;
                //             }
                //             margin-bottom: 2px;
                //             &:focus {
                //                 box-shadow: none;
                //             }
                //             border: none;
                //             width: 80%;
                //         }
                //     }
                // }
                // .nav-item:nth-child(3) {
                //     // margin-left: 100px !important;
                //     // .nav-link {
                //     //     .social {
                //     //         i {
                //     //             @include Text($fs-2, $colorYellow, $fw-3);
                //     //             margin-right: 10px;
                //     //         }
                //     //     }
                //     // }
                // }
                // .nav-item:nth-child(4) {
                //     margin-left: 100px !important;
                //     .nav-link {
                //         padding: 0;
                //         .btn--signup {
                //             background-color: $colorWhite;
                //             padding: 7px 15px;
                //             color: $colorYellow;
                //             border: 1px solid rgb(189, 184, 184);
                //             transition: all 0.5s;
                //             &:hover {
                //                 background-color: $colorYellow;
                //                 color: $colorWhite;
                //             }
                //         }
                //     }
                // }
                // .nav-item:nth-child(5) {
                //     .nav-link {
                //         padding: 0;
                //         .btn--signin {
                //             background-color: $colorWhite;
                //             padding: 7px 15px;
                //             color: $colorYellow;
                //             border: 1px solid rgb(189, 184, 184);
                //             transition: all 0.5s;
                //             &:hover {
                //                 background-color: $colorYellow;
                //                 color: $colorWhite;
                //             }
                //         }
                //     }
                // }
                // .nav-item-user {
                //     cursor: pointer;
                //     position: relative;
                //     margin-left: 100px !important;
                //     // align-items: center;
                //     line-height: 42px;
                //     span {
                //         text-align: center;
                //         i {
                //             @include Text($fs-3, $colorYellow, $fw-2);
                //             margin-left: 60px;
                //         }
                //         @include Text($fs-6, $colorGrey, $fw-2);
                //     }
                //     &:hover {
                //         transition: all 1s;
                //         .logout {
                //             display: block;
                //         }
                //     }
                //     .logout {
                //         z-index: 999 !important;
                //         cursor: pointer;
                //         display: none;
                //         position: relative;
                //         position: absolute;
                //         top: 100%;
                //         right: -20%;
                //         width: 90%;
                //         // height: 35px;
                //         &::before {
                //             position: absolute;
                //             content: "";
                //             top: -26%;
                //             left: 50%;
                //             transform: translateX(-50%);
                //             border-top: 9px solid transparent !important;
                //             border-left: 9px solid transparent !important;
                //             border-right: 9px solid transparent !important;
                //             border-bottom: 9px solid rgba(189, 186, 186, 0.945) !important;
                //         }
                //         text-align: center;
                //         background-color: $colorGrey-Light;
                //         border-radius: 5px;
                //         p {
                //             padding-bottom: 0 !important;
                //             line-height: 35px;
                //             @include Text($fs-6, $colorWhite, $fw-4);
                //             border-bottom: 1px solid $colorGrey;
                //             border-radius: 5px;
                //             transition: all 0.5s;
                //             &:hover {
                //                 background-color: $colorYellow;
                //             }
                //         }
                //     }
                // }
            }
        }
    }
}