.section-content-main {
    // display: none;
    margin-top: 5%;
    position: relative;
    .carousel-slick--custom {
        width: 90% !important;
        margin: auto;
        position: relative;
        h3 {
            letter-spacing: 2px;
            @include Mediaquery($xs) {
                font-size: 18px;
            }
            font-size: 32px;
            font-weight: 700;
            color: #424242;
        }
        &__title1 {
            font-size: 20px;
            position: relative;
            @include Mediaquery($xs) {
                font-size: 14px;
            }
            &::after {
                position: absolute;
                bottom: -15px;
                left: 50%;
                transform: translateX(-50%);
                content: "";
                // display: block;
                width: 100px;
                height: 2px;
                background-color: #72d5cd;
                z-index: 10;
            }
        }
        .item-prev {
            @include Mediaquery($xs) {
                top: 30px;
                color: #72d5cd;
                font-size: 25px;
                display: none;
            }
            cursor: pointer;
            position: absolute;
            top: 2px;
            left: 34.3%;
            // width: 45px;
            // height: 45px;
            border-radius: 50%;
            // background-color: #72D5CD;
            z-index: 12;
            color: white;
            font-size: 20px;
            font-weight: 700 !important;
        }
        .item-next {
            @include Mediaquery($xs) {
                top: 30px;
                color: #72d5cd;
                font-size: 25px;
                display: none;
            }
            cursor: pointer;
            position: absolute;
            top: 2px;
            right: 34.3%; // width: 45px;
            // height: 45px;
            border-radius: 50%;
            // background-color: #72D5CD;
            z-index: 12;
            color: white;
            font-size: 20px;
        }
        .slick-prev {
            @include Mediaquery($xs) {
                top: 3%;
                width: 35px;
                height: 35px;
                background-color: transparent;
            }
            @include Mediaquery($sm) {
                background-color: transparent;
            }
            position: absolute;
            top: 50%;
            left: -50px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: #72d5cd;
            z-index: 1;
        }
        .slick-next {
            @include Mediaquery($xs) {
                top: 3%;
                width: 35px;
                height: 35px;
                background-color: transparent;
                display: none !important;
            }
            @include Mediaquery($sm) {
                background-color: transparent;
            }
            position: absolute;
            top: 50%;
            right: -50px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: #72d5cd;
            z-index: 1;
        }
        .slick-next:before,
        .slick-prev:before {
            @include Mediaquery($xs) {
                display: none !important;
            }
            // color: #72D5CD !important;
            font-size: 50px;
            z-index: 10;
        }
        // .slick-prev:before {
        //     content: ''!important;
        // }
        // .slick-next:before {
        //     content: ''!important;
        // }
    }
    .nav-tabs--custom {
        border-bottom: 1px solid $colorGrey-Light;
        .nav-link {
            position: relative;
            @include Text($fs-6, $colorDark, $fw-2);
            &:hover {
                transition: all 1s;
                // border: none;
                border-color: transparent;
                &::after {
                    width: 100%;
                }
            }
            &.active {
                border: 1px solid transparent;
                margin-bottom: 0;
                &::after {
                    width: 100%;
                }
            }
            &::after {
                content: "";
                display: block;
                height: 4px;
                width: 0;
                position: absolute;
                left: 0;
                bottom: 0;
                background: linear-gradient(to right, $colorYellow, #fbbd61);
                transition: all 0.5s;
            }
        }
    }
    &__detail {
        .card--custom {
            position: relative;
            cursor: pointer;
            box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3);
            transition: all 0.5s;
            .card--img {
                position: relative;
                width: 100%;
                height: 220px;
                border-bottom: 1px solid #eee;
                overflow: hidden;
                transition: all 0.5s;
                border-bottom: 5px solid #f15224;
                &:hover {
                    .card__overlay {
                        opacity: 0.4;
                    }
                }
                img {
                    width: 100%;
                    height: 100%;
                    margin: auto;
                    transform: scale(1);
                    transition: all 0.5s;
                    &:hover {}
                }
            }
            .card-title {
                text-transform: uppercase;
                margin-top: 10px;
                letter-spacing: 1px;
                height: 30px;
                margin-bottom: 10px;
                width: 100%;
                @include Text($fs-4, $colorDark, $fw-1);
                display: block;
                position: relative;
                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 80px;
                    height: 2px;
                    background-color: #f15224;
                }
            }
            .rate-start {
                // @include Text($fs-6, $colorYellow, $fw-4);
                i {
                    margin-top: 10px;
                    font-size: 12px;
                    color: rgb(219, 219, 13);
                    margin-right: 10px;
                }
                span {
                    @include Text($fs-6, $colorGrey-Light, $fw-4);
                }
            }
            .view {
                @include Text($fs-7, $colorGrey-Light, $fw-4);
            }
            .btn-detail {
                position: relative;
                height: 80px !important;
                .btn-content-signin {
                    z-index: 3;
                    // display: block;
                    position: relative;
                    // @include Button($colorYellow, $colorWhite, $fs-6, 8px 20px, 4px);
                    font-weight: $fw-2 !important;
                    background-color: #72d5cd;
                    color: white;
                    margin-top: 10px;
                    padding: 8px 10px;
                    letter-spacing: 1px;
                    transition: all 0.5s;
                    margin-right: 10px;
                    &:focus {
                        box-shadow: none;
                    }
                    &:hover {
                        // background-color: #F15224;
                        // margin-bottom: 40px;
                        margin-top: 0px;
                        &::after {
                            opacity: 1;
                            top: 120%;
                        }
                    }
                    &::after {
                        position: absolute;
                        top: 100%;
                        left: 0;
                        content: "";
                        height: 10px;
                        width: 100%;
                        background: radial-gradient( ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
                        opacity: 0;
                    }
                }
                .btn-content-go {
                    position: absolute;
                    top: 0;
                    right: 0px;
                    height: 70px;
                    width: 140px;
                    background-color: #fff;
                    z-index: 10;
                    box-shadow: none;
                    .span {
                        width: 100% !important;
                        height: 69% !important;
                        // padding: 20px 50px;
                        background-color: #f15224;
                        color: #fff;
                        margin-bottom: 10px;
                        border-radius: 4px;
                        line-height: 40px;
                        transition: all 0.5s;
                        &:hover {
                            // background-color: #F15224;
                            // margin-bottom: 40px;
                            margin-bottom: 20px;
                            &::after {
                                opacity: 1;
                                top: 75%;
                            }
                        }
                        &::after {
                            position: absolute;
                            top: 80%;
                            left: 0;
                            content: "";
                            height: 10px;
                            width: 100%;
                            background: radial-gradient( ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
                            opacity: 0;
                        }
                    }
                }
            }
            &:hover {
                // .card__overlay {
                //     display: block;
                // }
                // box-shadow: 0 2px 10px 0 rgba(12, 12, 12, 0.541);
                img {
                    transform: scale(1.1);
                    // display: block;
                    filter: blur(1px);
                }
            }
        }
    }
}