.management-user {
    .input-group--cusstom {
        position: relative;
        width: 90%;
        height: 40px;
        background-color: #fff;
        .form-control {
            height: 100%;
            border: none;
            &:focus {
                box-shadow: none;
            }
            &::placeholder {
                margin-top: 10px !important;
            }
        }
        .result-search {
            position: absolute;
            top: 90%;
            left: 0%;
            z-index: 10;
            ul {
                background-color: #fff;
                width: 520px;
                li {
                    list-style: none;
                }
            }
        }
    }
}