.management-user {
    background-color: #fff !important;
    padding: 0 20px;
    height: 600px;
    h4 {
        margin-top: 20px;
        font-size: 20px;
        color: #333;
        font-weight: 600;
        i {
            font-size: 14px;
        }
    }
    h5 {
        color: #238BAA;
        // padding: 10px;
        font-size: 16px !important;
        border-radius: 4px;
        text-align: center;
        padding: 10px;
        i {
            font-size: 17px;
            margin-right: 4px;
        }
    }
    .ant-select-selector {
        height: 40px !important;
        .ant-select-selection-item {
            line-height: 40px !important;
        }
    }
    .btn-ghidanh {
        padding: 8px 15px;
        color: #fff;
        background-color: #238BAA;
        border: 1px solid #238BAA;
    }
    .btn-cancle {
        padding: 8px 15px;
        color: #fff;
        background-color: rgba(196, 14, 14, 0.76);
        border: 1px solid rgba(196, 14, 14, 0.76);
        margin-left: 5px;
    }
    .page--custom {
        position: relative;
        .pagination {
            position: absolute;
            top: 0;
            // right: 0 !important;
        }
    }
    .content {
        min-height: 550px !important;
    }
    .input-group--cusstom {
        position: relative;
        width: 100%;
        height: 35px;
        background-color: #fff;
        border: 1px solid #238BAA;
        .form-control {
            height: 100%;
            border: none;
            &:focus {
                box-shadow: none;
            }
            &::placeholder {
                margin-top: 10px !important;
            }
        }
        .result-search {
            position: absolute;
            top: 90%;
            left: 0%;
            z-index: 10;
            ul {
                background-color: #fff;
                width: 520px;
                li {
                    list-style: none;
                }
            }
        }
    }
}