@mixin Text($fontSize, $color, $fontWeight) {
    font-size: $fontSize;
    color: $color;
    font-weight: $fontWeight;
}

@mixin Button($bg, $color, $fontSize, $padding, $border) {
    background-color: $bg;
    color: $color;
    font-size: $fontSize;
    padding: $padding;
    border: $border;
}

@mixin Mediaquery($type) {
    @if $type==$xs {
        @media screen and(max-width: $xs) {
            @content;
        }
    }
    @else if $type==$sm {
        @media screen and(max-width: $sm) {
            @content;
        }
    }
    @else if $type==$md {
        @media screen and(max-width: $md) {
            @content;
        }
    }
    @else if $type==$lg {
        @media screen and(max-width: $lg) {
            @content;
        }
    }
}