//COLOR
$colorDark :#000;
$colorYellow: #D4B032;
$colorGrey-Light: #9b9b9b;
$colorGrey :#4a4a4a;
$colorWhite: #fff;
// FONTSIZE
$fs-1: 30px;
$fs-2: 25px;
$fs-3: 20px;
$fs-4: 18px;
$fs-5:16px;
$fs-6:14px;
$fs-7:12px;
//FONTWEIGHT
$fw-1:bold;
$fw-2:700;
$fw-3:600;
$fw-4:500;
$fw-5:normal;
//RESPONSVE
$xs :576px;
$sm-1 :650px;
$sm :768px;
$md:992px;
$lg:1200px;