.page--custom {
    position: relative;
    height: 40px;
    .pagination {
        position: absolute;
        top: 0;
        right: 10%;
        width: 15%;
        // .page-item {
        //     .active {
        //         background-color: #28a745 !important;
        //     }
        // }
        .page-item.active .page-link {
            background-color: #007bff !important;
            // border: 1px solid #28#a745;
            border: 1px solid #007bff;
        }
        .page-link {
            transition: all 0.5s;
            &:hover {
                background-color: #007bff !important;
            }
        }
    }
}